@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --primary-black : rgba(0, 0, 0, 0.973);
 --primary-text : rgba(153, 153, 153, 0.973);
 --primary-background : rgba(255, 255, 255, 0.973);
 --primary-btn-color : #DB4444;


 --secondary-background :  #F5F5F5;
;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #e66100 #ffbe6f;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffbe6f;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #e66100;
    border-radius: 10px;
    border: 3px groove #3d3846;
  }