@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --primary-black : rgba(0, 0, 0, 0.973);
 --primary-text : rgba(153, 153, 153, 0.973);
 --primary-background : rgba(255, 255, 255, 0.973);
 --primary-btn-color : #DB4444;


 --secondary-background :  #F5F5F5;
;
}
